/* CSS 변수선언*/
:root {
  --main-font: Helvetica, Arial, sans-serif;
  --brand-color: #369;
}

/* CSS 변수사용 */
.about-us {
  /* 첫번째 parameter가 정의되지 않은 경우 두 번째 parameter를 대신
  사용 */
  /* fallback값(대체값) 제공 */
  font-family: var(--main-font, sans-serif);
  color: var(--secondary-color, blue);
}
