:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
}

body * + * {
  margin-top: 1.5em;
}

header {
  padding: 1em 1.5em;
  color: #fff;
  background-color: #0072b0;
  border-radius: 0.5em;
}

.main {
  padding: 0 1.5em;
  background-color: #fff;
  border-radius: 0.5em;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: " ";
}
.clearfix::after {
  clear: both;
}

/* .clearfix::after {
  display: block;
  content: " ";
  clear: both;
} */

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.media {
  float: left;
  margin: 0 1.5em 1.5em 0;
  /* margin 제외하고 width 설정 */
  /* 안그러면 원하지않는 줄바꿈 연출됨 */
  width: calc(50% - 1.5em);
  padding: 1.5em;
  background-color: #eee;
  border-radius: 0.5em;
}

/* target every odd media element */
/* row마다 float clear하기 위해서 */
.media:nth-child(odd) {
  clear: left;
}

.media > img {
  width: 50%;
  object-fit: cover;
}
